@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400..900;1,400..900&family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&display=swap');
*{
    margin:0;
    padding:0;
    border-radius:10px ;
}
body{
    font-family: "Alegreya", serif;
    font-optical-sizing: auto;
    font-weight:weight;
    font-style: normal;
}
#input{
    background-image: url("https://media.istockphoto.com/id/1551613825/photo/abstract-pixel-colorful-spectrum-square-mosaic-tile-navy-blue-background-led-light-nft-defi.jpg?s=612x612&w=0&k=20&c=DldOCs-nDnZquD_RlgHjyBkChGsnf7H3K4RzilEDHjQ=");
    width:100vw;
    height:50vh;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items:center;
    color:white;

}
h1{
    font-size:20px;
}
p{
    font-size:2em;
    margin:10px;
}
#number{
     /* width:150px;
     height:40px; */
     font-size:2em;
     border:none;
     /* padding: 0px 10px; */
}
#button{
    /* width:100px;
    height:40px; */
    font-size:1.2em;
    border:none;
    background:white;
    color:black;
}
.circle{
    display:flex;
    flex-direction:row;
    justify-content: center;
    align-items:center;
    position:relative;
    color:white;
    height:50px;
    width:50px;
    border-radius: 50%;
    margin:10px;
    text-align:center;
    background-color: brown;
    color:white;
}
.square{
    display:flex;
    flex-direction:row;
    justify-content: center;
    align-items:center;
    position:relative;
    color:white;
    height:50px;
    width:50px;
    margin:10px;
    border-radius: 0%;
    text-align:center;
    background-color: orangered;
    color:white;
}
.rectangle{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    position:relative;
    color:white;
    height:50px;
    width:80px;
    margin:10px;
    text-align:center;
    background-color: palevioletred;
    color:white;
    border-radius: 0%;
}

#box{
    display: flex;
    flex-wrap: wrap;
}